.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html {
  height: 100%;
}

.bg {
  background-image: url('./images/background.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: 'Tahu';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Tahu.ttf');
  src: local('Tahu'),
       url('./fonts/Tahu.ttf') format('truetype'),
}

@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/GothamBook.ttf');
  src: local('Gotham Book'),
       url('./fonts/GothamBook.ttf') format('truetype'),
}

.header {
  color: #fff;
  font-family: 'Tahu';
  font-size: 6.5rem;
  margin-top: 100px;
}

.text-box {
  color: #fff;
  font-family: 'Gotham Book';
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: row
}

.video-box {
  margin-top: 45px;
}

.widget-box {
  margin-top: 45px;
  margin-left: 14%;
  margin-right: 14%;
}

.banner-box {
  margin-top: 45px;
}

.next-box {
  color: #000;
  font-family: 'Gotham Book';
  margin-top: 45px;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  font-weight:bold;
  justify-content: space-between;
}

.article-card {
  margin-top: 45px;
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
}

.sponsor-box {
  color: #000;
  font-family: 'Gotham Book';
  margin-top: 45px;
  margin-left: 35%;
  margin-right: 35%;
}

.footer {
  margin-top: 45px;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: left;
  font-size: small;
  font-weight: bold;
  align-items: center;
  align-content: flex-end
}

.footer p {
  font-weight: 400;
}
